@font-face {
  font-family: 'Primary';
  src: url('/fonts/TestSignifier-Regulat.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Secondary';
  src: url('/fonts/TestSöhne-Leicht.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Secondary';
  src: url('/fonts/TestSöhne-Buch.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Secondary';
  src: url('/fonts/TestSöhne-Kräftig.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: 'Primary', sans-serif;
  --font-secondary: 'Secondary', sans-serif;
  --color-bg: #ffffff;
  --color-text: #2C2C2C;
  --color-text-secondary: #909090;
  --spring-bouyant: linear(
    0 0%, .004379 1%, .017027 2%, .037197 3%, .064139 4%, .097098 5%, .135326 6%,
    .178089 7%, .224667 8%, .274366 9%, .326515 10%, .380476 11%, .435642 12%,
    .491445 13%, .547353 14%, .602874 15%, .65756 16%, .711 17%, .76283 18%,
    .812725 19%, .860402 20%, .90562 21%, .948177 22%, .98791 23%, 1.024693 24%,
    1.058435 25%, 1.089077 26%, 1.116593 27%, 1.140987 28%, 1.162286 29%,
    1.180545 30%, 1.19584 31%, 1.208266 32%, 1.217937 33%, 1.22498 34%,
    1.229538 35%, 1.231761 36%, 1.231811 37%, 1.229853 38%, 1.226059 39%,
    1.220603 40%, 1.213659 41%, 1.205403 42%, 1.196006 43%, 1.185638 44%,
    1.174463 45%, 1.162638 46%, 1.150318 47%, 1.137645 48%, 1.124757 49%,
    1.111781 50%, 1.098837 51%, 1.086034 52%, 1.073472 53%, 1.061241 54%,
    1.04942 55%, 1.038082 56%, 1.027286 57%, 1.017084 58%, 1.007519 59%,
    .998624 60%, .990425 61%, .982939 62%, .976176 63%, .970139 64%,
    .964824 65%, .960222 66%, .956318 67%, .953091 68%, .950518 69%,
    .94857 70%, .947216 71%, .946423 72%, .946154 73%, .946371 74%,
    .947035 75%, .948105 76%, .949542 77%, .951304 78%, .953352 79%,
    .955646 80%, .958146 81%, .960816 82%, .963619 83%, .966522 84%,
    .96949 85%, .972494 86%, .975505 87%, .978496 88%, .981443 89%,
    .984323 90%, .987118 91%, .989809 92%, .992382 93%, .994822 94%,
    .99712 95%, .999265 96%, 1.001252 97%, 1.003076 98%, 1.004733 99%,
    1.006221 100%
  );
}

body {
  font-family: var(--font-secondary);
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: #2C2C2C;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-family: var(--font-secondary);
}

.container {
  max-width: 1068px;
  margin: 0 auto;
  padding: 0 16px;
}

.icon {
  width: 24px;
  height: 24px;
}